:root {
  --super: #e78200;
  --text-super: #ff8a00;
  --backgroundheader: #2e5d86;
  --backgroundSearch: rgb(77, 116, 150);
  --grey: #a5a5a5;
  --grey-light: #e9ebee;
  --black: #1a1a1a;
  --black-dark: #0e1215;
  --red: #c02425;
}
